@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: url("/sky_tile.gif");
}

body {
  background: var(--background);
  /* Ensures the image is not resized */
  background-repeat: repeat;
  /* Repeats the image to fill the background */
  background-position: top left;
  /* Starts tiling from the top left corner */
}
